<div class="container">
    <div class="row">
        <main class="col-md-12">
            
            <!-- Professional Greeting -->
            <section>
                <h1>Welcome to About Page</h1>
                
                <h2>About Me</h2>
                <p>My name is Hiruni Malsha and I am currently enrolled in the WEB700 module under the BTT program.</p>
            </section>

            <!-- Header for Next Section (Step 3) -->
            <section>
                <h2>Personal Information</h2>
                <p>Name : Hiruni Malsha</p>
                <p>Age : 28</p>
                <p>Country : Sri Lanka</p>
            </section>
        </main>
    </div>
</div>
