<div class="row">
    <main class="col-md-12">
        <h2>Add a New Student</h2>
        <form method="POST" action="/students/add">
            <div class="form-group">
                <label>First Name:</label>
                <input class="form-control" name="firstName" type="text" required />
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input class="form-control" name="lastName" type="text" required />
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" name="email" type="email" required />
            </div>
            <div class="form-group">
                <label>Course:</label>
                {{#if courses}}
                <select class="form-control" name="course" id="course">
                    <option value="">Select Course</option>
                    {{#each courses}}
                    <option value="{{courseId}}">{{courseCode}}</option>
                    {{/each}}
                </select>
                {{else}}
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="course">Enrolled in Course:</label>
                        <select class="form-control" id="course" name="course">
                            <option value="1">Relational Database Design and Implementation</option>
                            <option value="2">Java Programming</option>
                            <option value="3">Introduction to Cloud Computing</option>
                            <option value="4">Database Administration and Management</option>
                            <option value="5">Web Programming</option>
                            <option value="10">Security in Databases and Web Applications</option>
                            <option value="11">Work Term Preparation (Work-Integrated Learning option only)</option>
                        </select>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="form-group">
                <label>Year:</label>
                <input class="form-control" name="year" type="number" required />
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
    </main>
</div>
